<html>
<head>
<title>Alumno</title>
</head>
<body>
	<table class=>
		<thead>
			<tr>
				<th>codigo</th>
				<th>Nombre</th>
				<th>apellido Paterno</th>
				<th>apellido Materno</th>
			</tr>
		</thead>
		
		<tbody>
	{% for person in people %}
			<tr>
				<td>{{ alumno.id }}</td>
				<td>{{alumno.nombre}}</td>
				<td>{{ alumno.apellPaterno }}</td>
				<td>{{ alumno.apellMaterno }}</td>
				<td><a href="?id={{ alumno.id }}">See</a> | <a href="add-alumno?id={{alumno.id }}">Modify</a> </td>
			</tr>
	{% endfor %}
        </tbody>
      </table>
      <br />
      <a href="add-alumno">Agrega nuevo Alumno</a>
</body>
</html>