<html>
<head>
<title>Curso</title>
</head>
<body>
	<table class=>
		<thead>
			<tr>
				<th>ID</th>
				<th>Codigo</th>
				<th>Nombre</th>
			</tr>
		</thead>
		
		<tbody>

			<tr>
				<td>{{ curso.id}}</td>
				<td>{{curso.codigo }}</td>
				<td>{{ curso.nombre }}</td>
				<td>
	
				</td>
			</tr>

        </tbody>
      </table>
      <br />
      <a href="add-curso">Agregar Curso</a>
</body>
</html>